.main-body {
  background-color:#f4f4f4;
  padding: 20px
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.yellow-heading{
  background-color: #e9cb20;
  padding:20px;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.sidebar{
  margin-top: 40px;
  width: 400px;
  padding: ;
  background-color: #666666;
  color: #ffffff;
  float: right;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;

}
